{% extends "base.html" %}
{% block content %}

<h3>Apply for {{ job.title }}</h3>

<form method="post" enctype="multipart/form-data">

<input class="form-control mb-2" name="full_name" placeholder="Full Name" required>
<input class="form-control mb-2" name="email" placeholder="Email" required>
<input class="form-control mb-2" name="phone" placeholder="Phone" required>

<textarea class="form-control mb-2"
          name="message"
          placeholder="Why should we hire you?"
          required></textarea>

<label>Resume</label>
<input type="file" name="resume" class="form-control mb-3" required>

<button class="btn btn-primary">Submit Application</button>

</form>

{% endblock %}
