{% extends "base.html" %}
{% block content %}

<h3>Edit Job</h3>

<form method="post">
    <input class="form-control mb-2" name="title" value="{{ job.title }}">
    <input class="form-control mb-2" name="company" value="{{ job.company }}">
    <input class="form-control mb-2" name="location" value="{{ job.location }}">
    <input class="form-control mb-2" name="salary" value="{{ job.salary }}">
    <input class="form-control mb-2" name="category" value="{{ job.category }}">
    <textarea class="form-control mb-2" name="description">{{ job.description }}</textarea>

    <button class="btn btn-success">Save</button>
</form>

{% endblock %}
